:root {
  --foreground-light: #000000; 
  --background-light: #e0ffe0; 
  --foreground-dark: #ffffff;
  --background-dark: #0d0d0d;

  --button-primary-light: #007f00;
  --button-primary-dark: #00ff00;

  --button-secondary-light: #005500;
  --button-secondary-dark: #00cc00;
}

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: var(--button-primary-light);
  --button-secondary-hover: var(--button-secondary-light);

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
  background-color: var(--background-light);
  color: var(--foreground-light);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: var(--button-primary-dark);
    --button-secondary-hover: var(--button-secondary-dark);

    background-color: var(--background-dark);
    color: var(--foreground-dark);
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main code {
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}